*{
	margin:0;
	padding: 0;
	line-height:1.5;	
	color:#000000;
}

.body{
	background-color: #00afff;
}
.header{
  background-color: #aa0000;
  height: 50px;
}
.main{
  background-color: #ffffff;]
  height: auto;
}
.footer{
  background-color: #550000;
  height: 30px;
}
.mode_panel{
  background-color: #f0ffaa;
}
.form{
  background-color: #f0aaff;
}
.submit{
  background-color: #aaffff;
}